{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip

	# Basic security headers
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	reverse_proxy api:8000
}
